
body {
    padding-top: 40px;
}

.navbar-inverse {
	background-color: black;
}

.content{
	padding-top: 30px;
	padding-left: 5% ;
	background-image: url(../img/ekoza.png);
	background-repeat: no-repeat;
	background-position: top right;
	min-height: 90%;
	position:static;
	margin: 0px;
	
}

#logMsgs{
	color: #9d9d9d;
	padding-bottom: 10px;
}

#search-button, #upload-button{
	color: #9d9d9d;
	background-color: black;
	border: none;
}

footer {
    position: static;
    height: 100px;
}