
body {
    padding-top: 40px;
}

.navbar-inverse {
	background-color: black;
}

.content{
	padding-top: 30px;
	background-image: url(../img/ekoza.png);
	background-repeat: no-repeat;
	height: 90%;
	margin: 0px;
	
}

.wrapper{
	min-height: 100%;
	position: relative;
	padding-bottom: 70px;
}
#logMsgs{
	color: #9d9d9d;
	padding-bottom: 10px;
}

footer {
    position: absolute;
    bottom: 0;
}